/* @media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
} */

.react-tabs__tab-list {
  border-bottom: 0ch;
}

.react-tabs__tab--selected {
  background-color: #4498dd;
  margin: 5px;
  color: #e4e7eb;
}

.react-tabs__tab {
  text-decoration-color: rbg(42, 80, 184);
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #aaa;
  margin: 5px;
}

#submit_btn {
  background-color: rgb(85, 124, 231);
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 1.15rem;
  padding: 4px 8px 4px 8px !important;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
}
h1 {
  color: green;
}